* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  background-repeat: repeat-y;
  background-size: 50% auto;
  position: absolute;
}

.startPage {
  text-align: center;
}

.startPage > h1{
  margin-top: 60px;
  margin-bottom: 20px;
}

#introParagraph{
  margin-top: 50px;
  line-height: 1,6em;
  width: 50%;
  margin-left:25%
}

.form {
  margin: 0px;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

#loginDiriger {
  font-size: 16px;
  padding: 5px 25px 5px 25px;
  margin-top: 20px;
  border: 0.5px outset;
}

form:last-child {
  margin-left: 2px;
  font-size: 20px;
  padding: 0px 20px 0px 20px;
}

.AdminEstatePage {
  display: flex;
  justify-content: space-around;
  margin: 40px 0 0 0;
}

.AdminEstates {
  text-align: center;
  margin: 100px 200px;
}

.MyEstatePage {
  display: flex;
  justify-content: space-around;
  margin: 40px 0 0 0;
}

.MyEstates {
  text-align: center;
  margin: 100px 200px;
}

#AdminEstatesButtons{
 margin:50px 300px 50px 300px; 
 place-items: center;
}

.btn-outline-danger{
  color: #f5f1f1;
  border-color: #f5f1f1;
  background-color: #900C27;
  border: 0.5px outset;
  margin-top: 20px;
}


.MyEstate {
  display: flex;
  justify-content: space-around;
  margin: 40px 0 0 0;
}

.MyItem {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0 0 0;
}

.AdminItem {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0 0 0;
}

.estateNameAndItem {

}

.userInteractions {
  display: grid;
  grid-template-columns: auto 50px auto;
  padding: 10px;
}

.userNameAndComment {
  grid-column-start: 1;
}
.userVotes {
  grid-column-start: 3;
  display: flex;
  flex-direction: column;
}
.userVotes > div {
  padding: 1px;
}

.myVote {
  border: 1px solid;
  margin: 20px;
  display: grid;
  grid-template-columns: 70px 90px 10px 30px;
  grid-template-rows: 28px 28px 28px;
  padding: 10px;
}


.myUserPriority {
  display: grid;
  grid-template-columns: 20px auto;
  grid-template-rows: 28px 28px 28px;
}
.myUserNameAndComment{
  grid-row-start: 1;
}

.myUserVotes {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 3;
  height: auto;
}

.myUserVotes > div {
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.myVoteHighlight {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.myVoteHighlight > .voteDivide {
  margin: 0px;
  padding: 1px;
  grid-row-start: 1;
  justify-content: center;
} 
.myVoteHighlight > .voteDonate {
  margin: 0;
  grid-row-start: 2;
  justify-content: center;
}
.myVoteHighlight > .voteTrash {
  margin: 0;
  grid-row-start: 3;
  justify-content: center;
}

.userStarVotes {
  grid-column-start: 4;
  grid-column-end: span 5;
  grid-row-start: 1;
  display: flex;
  flex-direction: row;
}

.myStarVote {
  grid-column-start: 4;
  grid-column-end: span 5;
  grid-row-start: 1;
  display: flex;
  flex-direction: row;
}

.star {
  display: block;
  height: 28px;
  width: 28px;
  margin: 0px 1px 0px 1px;
  justify-content: center;
/*   background-image: url(./images/star.png);
  background-size: contain; */
}
.star:hover {
  background-color: yellow
}

.starFilled {
  display: block;
  height: 28px;
  width: 28px;
  margin: 0px 1px 0px 1px;
  justify-content: center;
/*   background-image: url(./images/star_filled.png);
  background-size: contain; */
}
.starFilled:hover {
  background-color: yellow
}

.starRender {
  display: block;
  height: 28px;
  width: 28px;
  margin: 0px 1px 0px 1px;
  justify-content: center;
}



.membersList div {
  margin-top: 30px;
  margin-bottom: 20px;
}

.membersList h2 {
  margin-bottom: 20px;
  margin-top: 35px;
}

.btn-danger {
  position: relative;
  margin: 10px 0 10px 30%;
}

.membersList div > h4 {
  margin: 5px 0 0 35px;
}

.itemRow div > h4 {
  margin: -10px 0 10px 80px;
}

.itemRow > div button.btn-primary {
  margin: 0px 5px 10px 17px;
}

.itemRow > div button.btn-danger {
  margin: 10px 0 0 40px;
}

.itemRow {
  margin-bottom: 20px;
  margin-bottom: 30px;
}

.addItem > button {
  margin-left: 35px;
}

.estateList div > h1 {
  margin-left: 30px; 
  color: #454343;
}

.estateList > div {
  border-radius: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
  background-color:#f9f9f9;
  border-color: #bab5b5;
}

.estateList div > img {
  border-radius: 2%;
  margin-bottom: 5%;
  margin-left: 30%;
}

.estateList > p {
  font-size: x-large;
  text-align: center;
  color: #454343;
  margin-bottom: 25px;
  margin-top: 20px;
}


.createEstate > button {
  margin-left: 100px;
}

.items {
  margin-top: 35px;
}

.items > h2 {
  margin-left: 36px;
}

.Header .buttons {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
  justify-content: flex-end;
}

.Overskrift {
  color: #900C27;
}

.buttons > button, #Login {
  color: #f5f1f1;
}

.navbar-dark {
  background-color: #f8f0f2;
}


#right {
  text-align: center;
  margin: 20px 200px;
}

.description{
  text-align: center;
  background-color: #f8f0f2;
  transform: translate(0%,-50%);
  padding: 25px;
}

img{
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-group{
  font-size: 20px;
  margin-left: 20px;
}

.welcome{
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 70px;
}

#header_pic{
  height: 50px;
  width: 30%;
  margin: "0 500px 0 500px";
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.estates{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  position: relative;
}
 

#tempImage{
  height: 100%;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#myModal{
  text-align: center;
}

